/* 公共样式部分start */
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}
li {
    list-style-type: none;
    display: inline-block;
}
a {
text-decoration: none;
}
.w {
    width: 1198px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
/* 字体样式 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?8uk0mh');
    src:  url('../fonts/icomoon.eot?8uk0mh#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?8uk0mh') format('truetype'),
      url('../fonts/icomoon.woff?8uk0mh') format('woff'),
      url('../fonts/icomoon.svg?8uk0mh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
/* 广告样式开始 */
header {
     height: 80px;
    background-image: url(../img/T1l_hbBTCv1RCvBVdK.jpg);
    background-repeat: no-repeat;
    background-color: #ECF5E4;
}
/* 广告样式结束 */
/*  头部导航栏部分开始 */
nav {
    height: 32px;
    background-color:  #F8F8F8;
}
/* nav .toplist {
    height: 32px;
} */
nav .toplist  li {
   display: inline-block;
   padding: 0px 10px;
 
}
nav .toplist a {
     font: 400 12px/30px Arial,"Microsoft YaHei"; 
     color: #888;
}
nav .toplist li:hover a {
    color: red;
} 




/*  头部导航栏部分结束 */

/*  头部搜索栏部分开始 */
.search {
    height: 120px;
    background-color: #fff;
    position: relative;
}
.search .logo-p {
    width: 200px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 0;
    
}
.search  .search-box {
    width: 500px;
    height: 60px;
    position: absolute;
    left: 350px;
    top: 20px;
}
.search .search-box .topsearch {
    width: 500px;
    height: 30px;
}
.search-box .topsearch .select-box {
 position: relative;
}
.select-box span {
    font-size: 12px;
    line-height: 30px;
    padding: 0px 30px;
}
 .topsearch .select-box .hid-box {
    width: 100px;
    height: 32px;
   text-align: center;
    background-color: #fff;
    border: 1px solid #DD00A7;
} 

.search-box .topsearch .input-text {
    width: 300px;
    height: 30px;
    border-left: none;
    border: 1px solid #DD00A7;
    position: absolute;
    top: 0;
    left: 99px;
}
.topsearch .voice {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    position: absolute;
    top: 1px;
    right: 100px;
    font-family: icomoon;

}
.search-box .topsearch .input-button  {
    width: 100px;
    height: 32px;
    font-size: 20px;
    color: #fff;
    border: 2px solid #DD00A7;
    background-color: #DD00A7;
    position: absolute;
    top: 0px;
    left: 400px;
}
.search-box .word-list {
    width: 500px;
    height: 30px;
    margin-top: 5px;
}
.word-list li a {
    font-size: 12px;
    color: #A5A5A5;
    padding: 2px 2px;
}
.word-list li a:hover {
    color: red;
}
.word-list li:first-of-type a {
    color: red;
}

.search .shopping-car {
    width: 200px;
    height: 120px;
    position: absolute;
    right: 0;
}
.search .shopping-car .mycar {
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-family: icomoon;
    background-color: #fff;
    position: absolute;
    top: 30px;
    right: 40px;
   
}
.search .shopping-car .mycar:hover {
    box-shadow:  -1px -1px 10px 1px rgb(236, 235, 235);
}
.search .shopping-car .mycar:hover .buy-goods {
    display: block;
   
}
.mycar span {
   padding-left: 30px;
}
.mycar .my-a {
   line-height: 40px;
   padding: 0px 10px;
    font-size: 12px;
    color: #5E5E5E;
}
.mycar .my-a:hover {
    color: red;
    text-decoration: underline;
}
.mycar .buy-goods {
    width: 300px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    top: 40px;
    left: -150px;
    display: none;
}
.shopping-car .buy-goods a {
    margin-left: 20px;
    line-height: 80px;
    font-size: 12px;
    color: #5E5E5E;
    text-decoration: underline;
   
}
.shopping-car .buy-goods a:hover {
    color: red;
  

}
.shopping-car .buy-goods .span-1 {
    line-height: 80px;
    font-size: 12px;
    color: #A5A5A5;
}

/*  头部搜索栏部分结束 */
